<section id="home">          
    
<div class="container" id="storyContainer" data-story-id="{{story.id}}">
 <div class="homeButton"><a href="/"><span class="glyphicon glyphicon-hand-left"></span></a></div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-xs-12">
            
            <!-- 
                page loads with default art; 
                script will update with most recent user contributionimg 
                tag has attributes to launch new coverart submission modal  
            --> 
            <img type="button" class="coverart" data-toggle="modal" data-cover-index="0" data-target="#coverArtModal" src="https://s3.amazonaws.com/chickenscratchdb/default_cover.jpg"/>
            <p class="artPrompt">click image to add your own art</p>
            <h2 class="title">{{story.title}}</h2>
            {{#each story.Contributions}}
                <div class="row contribution_wrapper">
                    <div class="col-lg-2 metadata" data-id="{{this.UserId}}"> 
                       
                    </div><!-- end metadata column-->
                    <div class="panel panel-default">
                      
                        <div class="panel-body col-lg-10 contribution" data-contribution="{{this.id}}">
                        
                            {{this.contribution_text}}

                             <button type="button" class="submitArt btn btn-secondary btn-sm" data-toggle="modal" data-target="#artModal" data-story-id="{{this.StoryId}}" data-contribution-id="{{this.id}}">Contribute Art</button>
                        </div><!-- end contribution column --> 
                    
                    </div> 
                </div> <!-- end contribution row -->
            {{/each}}
        </div><!-- end story column-->
   </div> <!-- end story page row -->
   <br>
   <br>

    {{#if user}}
        <button type="button" class="submitStory btn btn-primary center-block" data-toggle="modal" data-target="#contributeModal">{{user}}, continue the story...</button>

    {{else}}
        <button type="button" id="signIn" class="submitStory btn btn-primary center-block" data-target="#signInModal" data-toggle="modal">Please sign in to contribute to the story</button>
    {{/if}}

</div><!-- end container -->

<div id="footer">&copy; Frantic Chickens 2017</div>

</section>

 <!-- MODALS -->

    <!--launches modal when user clicks "add to story"-->
    <div class="modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Contribute to the Story</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form role="form" action="/api/new/contribution/{{story.id}}" method="POST">
                                <div class="form-group">
                                    <label for="">Your Contribution</label>
                                    <textarea name="contribution_text" type="text" rows="15" class="form-control" id="story_text"></textarea>
                                </div>
                                <div class="btn-toolbar">

                                    <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn pull-right">Save changes</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--launches modal for contribution art-->

    <div class="modal fade" id="artModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add art to this contribution</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <!-- the click function on the button that launches this modal window will append the contribution id to the action route -->

                            <form id="artUploadForm" role="form" method="POST" enctype="multipart/form-data">
                                <div class="form-group">

                                    <input type="hidden" name="StoryId" value="{{story.id}}">
                                    <input type="hidden" id="ContributionId" name="ContributionId">
                                    <label for="">Add your art...</label>
                                    <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
                                    <label for="fileupload"> Select a file to upload</label> 
                                    <input type="submit" value="submit"> 

                                </div>
                                <div class="btn-toolbar">

                                    <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--launches modal for cover art-->

    <div class="modal fade" id="coverArtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add cover art</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form id="coverartUploadForm" role="form" enctype="multipart/form-data" method="POST">
                                <div class="form-group">

                                    <label for="">Add your cover art...</label>
                                    <input type="hidden" id="StoryId" name="StoryId" value="{{story.id}}">
                                    <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
                                    <label for="fileupload">Select a file to upload</label> 
                                    <input id="coverArtSubmit" type="submit" value="submit"> 

                                </div>
                                <div class="btn-toolbar">

                                    <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!--launches modal when user clicks "sign in"-->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form role="form" id="signin" action="/signin/{{story.id}}" method="POST">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input name="username" type="text" class="form-control" id="signInUsername">
                                    <label>Password</label>
                                    <input name="password" type="password" class="form-control" id="signInPassword">
                                </div>
                                <div class="btn-toolbar">

                                    <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
                                    <button id="signin" type="submit" class="btn pull-right">Sign In</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./../assets/scripts/story.js"></script>