<section id="home">          
    
<div class="container">
 <div class="homeButton"><a href="/"><span class="glyphicon glyphicon-hand-left"></span></a></div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-xs-12">
           
            <img src="{{story.cover_art}}" class="coverart"/>
            <h2 class="title">{{story.title}}</h2>
            {{#each story.Contributions}}
                <div class="row contribution_wrapper">
                    <div class="col-lg-2 metadata" data-id="{{this.UserId}}"> 
                       
                    </div><!-- end metadata column-->
                    <div class="panel panel-default">
                      
                        <div class="panel-body col-lg-10 contribution" data-contribution="{{this.id}}">
                        
                            {{this.contribution_text}}

                             <button type="button" class="submitArt btn btn-secondary btn-sm" data-toggle="modal" data-target="#artModal" data-story-id="{{this.StoryId}}" data-contribution-id="{{this.id}}">Contribute Art</button>
                        </div><!-- end contribution column --> 
                    
                    </div> 
                </div> <!-- end contribution row -->
            {{/each}}
        </div><!-- end story column-->
   </div> <!-- end story page row -->
   <br>
   <br>

    {{#if user}}
        <button type="button" class="submitStory btn btn-primary center-block" data-toggle="modal" data-target="#contributeModal">{{user}}, continue the story...</button>

    {{else}}
        <button type="button" id="signIn" class="submitStory btn btn-primary center-block" data-target="#signInModal" data-toggle="modal">Please sign in to contribute to the story</button>
    {{/if}}

</div><!-- end container -->

<div id="footer">&copy; Frantic Chickens 2017</div>

</section>


    <!--launches modal when user clicks "add to story"-->
    <div class="modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Contribute to the Story</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form role="form" action="/api/new/contribution/{{story.id}}" method="POST">
                                <div class="form-group">
                                    <label for="">Your Contribution</label>
                                    <textarea name="contribution_text" type="text" rows="15" class="form-control" id="story_text"></textarea>
                                </div>
                                <div class="btn-toolbar">

                                    <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn pull-right">Save changes</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--launches modal for art-->

    <div class="modal fade" id="artModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Cover Art</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <!-- the click function on the button that launches this modal window will append the contribution id to the action route -->

                            <form id="artUploadForm" action="/api/new/art" role="form" method="POST" enctype="multipart/form-data">
                                <div class="form-group">

                                    <input type="hidden" name="StoryId" value="{{story.id}}">
                                    <input type="hidden" id="ContributionId" name="ContributionId">
                                    <label for="">Add your art...</label>
                                    <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
                                    <label for="fileupload"> Select a file to upload</label> 
                                    <input type="submit" value="submit"> 

                                </div>
                                <div class="btn-toolbar">

                                    <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!--launches modal when user clicks "sign in"-->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form role="form" id="signin" action="/signin" method="POST">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input name="username" type="text" class="form-control" id="signInUsername">
                                    <label>Password</label>
                                    <input name="password" type="password" class="form-control" id="signInPassword">
                                </div>
                                <div class="btn-toolbar">

                                    <button type="button" class="btn pull-right" data-dismiss="modal">Close</button>
                                    <button id="signin" type="submit" class="btn pull-right">Sign In</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // pass contribution ID to art upload form on click
       $(".submitArt").on("click",function(){
            $("#artUploadForm").attr("action","/api/new/art/");
            // pass the contribution id from the art button to the form's hidden contributionId input 
            $("#ContributionId").attr("value",$(this).attr("data-contribution-id"));
            // ajax post to our art route
            $.post("/api/new/art/", function(data){
                $("#fileupload").val("");
                
            });
        });

    $(document).ready(function(){
        var userIds = $(".metadata");
        $(userIds).each(function(index){
            $.get("/api/contributor/"+$(this).attr("data-id"), function(results){
                $(".metadata").eq(index).html(results.name);
            })
        });

        var contributions = $(".contribution");
        $(contributions).each(function(index){
            $.get("/api/art/"+$(this).attr("data-contribution"), function(results){
                console.log(results);
                if (results.url)
                    $(".contribution").eq(index).prepend("<img class=\"contribArt\" src=\""+results.url+"\"/>").children("button").remove();
        })
    })
    }); 
     </script>