<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-xs-12">
            <img src="{{this.contributions.0.Story.cover_art}}" class="coverart"/>
            <h2 class="title">{{this.contributions.0.Story.title}}</h2>
            {{#each this.contributions}}
                <div class="row contribution_wrapper">
                    <div class="col-lg-2 metadata" data-id="{{this.contributions.UserId}}">
                        {{this.contributions.username}} 
                       
                    </div><!-- end metadata column-->
                    <div class="panel panel-default">
                        <div class="panel-body col-lg-10 contribution" data-contribution="{{this.id}}">
                            {{this.contribution_text}}
                             <button type="button" class="submitArt btn btn-secondary btn-sm" data-toggle="modal" data-target="#artModal" data-contribution-id="{{this.id}}">Contribute Art</button>
                        </div><!-- end contribution column --> 
                    </div> 
                </div> <!-- end contribution row -->
            {{/each}}

        </div><!-- end story column-->

   </div> <!-- end story page row -->
   <br>
   <br>
    <button type="button" class="submitStory btn btn-primary center-block" data-toggle="modal" data-target="#contributeModal">Continue the story...</button>
</div><!-- end container -->


<!--launches modal when user clicks "add to story"-->
    <div class="modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Contribute to the Story</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <form role="form" action="/api/new/contribution/{{this.contributions.0.Story.id}}" method="POST">
                                <div class="form-group">
                                    <label for="">Your Contribution</label>
                                    <textarea name="contribution_text" type="text" rows="5" class="form-control" id="story_text"></textarea>
                                </div>
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary pull-right">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--launches modal for cover art-->
    <div class="modal fade" id="artModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Cover Art</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- the click function on the button that launches this modal window will append the contribution id to the action route -->
                            <form id="artUploadForm" role="form" method="POST" enctype="multipart/form-data">
                                <div class="form-group">

                                    <label for="">Add your art...</label>
                                    <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
                                    <label for="fileupload"> Select a file to upload</label> 
                                    <input type="submit" value="submit"> 
                                </div>
                                <div class="btn-toolbar">
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // pass contribution ID to art upload form on click
        $(".submitArt").on("click",function(){
            $("#artUploadForm").attr("action","/api/new/art/"+$(this).attr("data-contribution-id"));
        })
        </script>